.card {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2c678f;
    border: 2px solid black;
  }
  
  .overlayMobile {
    position: absolute;
    width: auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  
  .overlayWeb {
    position: absolute;
    min-width: 50%;
    min-height: 5%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 3px;
  }
  
  .overlayWebAlt {
    position: absolute;
    min-width: 50%;
    min-height: 5%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 4fr;
    grid-gap: 0px;
  }
  
  .overlayControls {
    flex-direction: row;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: absolute;
  }
  
  .controlButton {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 5px;
    font-size: 12px;
  }
  
  .nameColumn {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 2px;
    font-size: 12px;
  }
  
  .nameText {
    font-size: 12px;
  }
  
  .waveformWeb {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0;
    flex-direction: row;
  }
  
  .waveformMobile {
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: 5px;
    max-width: 25%;
  }
  
  .bar {
    flex: 1;
    opacity: 0.35;
    margin-left: 1px;
    margin-right: 1px;
  }
  
  .backgroundImage {
    position: absolute;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateY(-40px) translateX(-40px); /* Half of the height and width */
  }
  
  .roundedImage {
    border-radius: 20%; /* Adjust the border radius as needed */
  }
  